@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.nome{text-align: left;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(0, 0, 0);
background-color: rgb(53, 240, 246);
 font-size: 3rem;
margin: 2rem;}

.Fundo{background-color: rgb(0, 0, 0);}

.ctt{text-align: center;
    font-family:Arial, Helvetica, sans-serif} 

hr{ border:  2px solid rgb(0, 0, 0);
    }

.topicUm{text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: rgb(0, 0, 0);
     background-color: rgb(53, 240, 246);}

.apr{text-align: left;
font-family:serif;color: rgb(255, 255, 255);}

.tituloDois{text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:  rgb(0, 0, 0);background-color: rgba(53, 240, 246, 246)}

.tituloTres{text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);background-color: rgb(53, 240, 246);}

 .tituloFour{text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0);background-color: rgb(53, 240, 246)}


.tituloFive{text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(0, 0, 0); background-color:rgb(53, 240, 246)}
    
.tituloSeis {text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(0, 0, 0); background-color: rgb(53, 240, 246)}


p{color: rgb(255, 255, 255); 
  font-weight: bold;}

li{ color:rgb(255, 255, 255); 
    font-weight: bold;}

i{margin-right: 40px;}

body{width: 90vw; margin: auto;
 padding-top: 10px;
 color: white;}

.home{text-align: right;
     list-style: none; 
     position:relative;
      position: absolute;
       margin: 0px; 
       padding: 0px; 
       margin-left: 1100px;
        margin-top: -28px;
          }

.rodaPe{background-color: black;}


.oneTitle{text-align: center;
}

.emailj{color: orange;}