.tituloUm{text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;}

.Fundo{background-color:white;}

.ctt{text-align: center;
    font-family:Arial, Helvetica, sans-serif}

hr{
    border:  2px solid black;
    }

.topicUm{text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.apr{text-align: center;
font-family:serif;}