@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    /*all*/
}

:root {
    scroll-behavior: smooth;
    /*Temas*/
    --planofundo: #000000;
    --cor-primaria-texto: #ffffff;
    --cor-fundo-tags: #353535;
}

[data-tema="light"] {
    --plano-fundo: #5df3f8a3;
    --cor-primaria-texto: #000000;
    --cor-fundo-tags: #353535;
    --cor-back-p: rgba(255, 255, 255, 0.687);
    --cor-link: #000000;
}

[data-tema="dark"] {
    --plano-fundo: #000000;
    --cor-primaria-texto: #ffffff;
    --cor-fundo-tags: #353535;
    --cor-back-p: rgb(125, 125, 125);
    --cor-link: #0000ff;
}

.nome {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    /* pag 2 */
    border-radius: 10px;
    font-size: 3rem;
    margin: 2rem;
    margin-top: 0px;
    margin-bottom: 30px;
}



.ctt {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
        /* pag 2 */
}

hr {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    /* pag 2 */
}


.apr {
    text-align: left;
    font-family: serif;
    /* pag 2 */
    margin-bottom: 30px;
    font-size: large;
}




p {
    font-weight: bold;
    line-height: 1.5;
    /* pag 2 */
    margin: 20px 0px 20px;
    font-size: large;
}

li {
    font-weight: bold;
    font-size: large;
    /* pag 2 */
}

i {
    margin-right: 40px;
    /* pag 2 */
}

body {
    width: 90vw;
    margin: auto;
    padding-top: 10px;
    /* pag 2 */
    background-color: var(--plano-fundo);
    color: var(--cor-primaria-texto);


}





.emailj {
    color: rgba(0, 255, 0, 0.797);
    /* pag 2 */
}

.emailj:hover{
    color: #0000ff;
}




.foter {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    /* pag 2 */
    font-size: 30px;
}

.tabela,
th,
td {
    border-collapse: collapse;
    padding: 10px;
    /* pag 2 */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

th {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 242, 3);
    /* pag 2 */
    text-align: center;
}

td {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    /* pag 2 */
}



.tabs {
    margin-left: 490px;
    /* pag 2 */
}


#titulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    /* pag 2 */
    border-radius: 10px
}


#sec1:hover {
    opacity: 0.9;
    transform: scale(0.9);
    background-color: var(--cor-back-p); 
    
        /* pag 2 */
}


#lista-tag li {
    display: inline block;
    padding: 5px;
    border-radius: 4px;

}

#sec2:hover {
    opacity: 0.9;
    transform: scale(0.9);
    background-color: var(--cor-back-p);
    /* pag 2 */
}

#sec3:hover {
    opacity: 0.9;
    transform: scale(0.9);
    background-color: var(--cor-back-p);
    /* pag 2 */
}


#sec4:hover {
    opacity: 0.9;
    transform: scale(0.9);
    background-color: var(--cor-back-p);

    /* pag 2 */
}

#sec5:hover {
    opacity: 0.9;
    transform: scale(0.9);
    background-color: var(--cor-back-p);
    /* pag 2 */
}

#sec6:hover {
    opacity: 0.9;
    transform: scale(0.9);
    background-color: var(--cor-back-p);
    /* pag 2 */
}

#sec7:hover {
    opacity: 0.9;
    transform: scale(0.9);
    background-color: var(--cor-back-p);
    /* pag 2 */
}

.list {
    list-style: none;
    display: inline;
}

.list a {
    text-decoration: none;
}